version: "3.8"

services:
  api1:
    build: .
    container_name: api1
    env_file:
    - .env
    depends_on:
      - mongo

  api2:
    build: .
    container_name: api2
    env_file:
    - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:6.0
    container_name: mongodb
    volumes:
      - mongo_data:/data/db

  nginx:
    build: ./nginx
    container_name: nginx_lb
    ports:
      - "8080:80"
    depends_on:
      - api1
      - api2

volumes:
  mongo_data:
